.card {
    margin-bottom: 7rem;
    border-radius: 3%;
    height: 90vh;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: var(--harsh-shadow);

    &_container {
        padding: 7vh 7vw;
        perspective: 100rem;
    }

    &_headline {
        font-size: 5.4rem;
        font-weight: 700;
        color: var(--baby-powder);
        margin: 0 0 2.5rem 0;
    }

    &_divider {
        height: 0.8rem;
        background: var(--baby-powder);
        margin: 0 0 3.5rem 0;
    }

    &_intro-p {
        font-size: 2.5rem;
        color: #333;
    }

    &_button {
        &,
        &:link,
        &:visited {
            text-transform: uppercase;
            text-decoration: none;
            padding: 1.5rem 4rem;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
            display: inline-block;
            border-radius: 1rem;
            transition: all .2s;
            position: relative;
    
            border: none;
            cursor: pointer;
    
            box-shadow: #333 -0.7rem 1.6rem 0.1rem;

            background-color: var(--baby-powder);
        }

        text-decoration: none;
        color: #333;
        
    }

    @media (max-width: 640px) {

        height: 45vh;

        &_container {
            padding: 6vh 6vw;
        }

        &_headline {
            font-size: 1.7rem;
        }

        &_intro-p {
            font-size: 1rem;
        }
    }
}

.magic-potion {
    background-image: linear-gradient(
            to right,
            rgba($magic-potion, 0.80),
            rgba($medium-slate-blue, 0.80)
        ), url(../../images/placeholder-2.jpg);
    background-repeat: no-repeat;
}


.usc-gold {
    background: var(--usc-gold);
}

.green {
    background: $green;
}

.pale-blue {
    background: $pale-blue;
}

span {
    color: var(--baby-powder);
}

.mango-tango {
    height: 30vh; //overwrite
    border-radius: 0%; //overwrite
    background: var(--mango-tango);
}

.azure {
    background: var(--brilliant-azure);
}
